DerivedData

# Doc
FuturePLAN.md
TODO.md

# AI Agent

CLAUDE.md
AGENTS.md
UTCTimeLooker.xcodeproj/xcuserdata/leilevi.xcuserdatad/xcschemes/xcschememanagement.plist
UTCTimeLooker.xcworkspace/contents.xcworkspacedata
